# Folders
example/*

# Local PDF
*.pdf

# Output files
out/*
output/*
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.synctex.gz
*.out
*.toc
*.log
*.lof
*.lol
*.lot
*.xdv
*.run.xml

# Bibliography
*.bbl
*.blg
*-blx.bib
*.bcf

# Mac
.DS_Store
